[Unit]
Description=ytclip Flask App
After=network.target

[Service]
Type=exec
User=ytclip
Group=ytclip
WorkingDirectory=/opt/ytclip
ExecStart=/opt/ytclip/venv/bin/gunicorn --config /opt/ytclip/gunicorn.conf.py 'web:app'
Restart=always
RestartSec=5

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/tmp/ytclip_web
ReadWritePaths=/opt/ytclip

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ytclip

[Install]
WantedBy=multi-user.target
